/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* User component */
    .user__header {
        font-size: 15px;
    }

    .user__footer {
        margin-top: 50px;
    }

    .user__footer > a {
        font-size: 8px;
    }

    /* UserAvatar component */
    .userAvatar > h4 {
        font-size: 10px !important;
    }

    /* Nav component */
    .nav_logo {
        left: 18px !important;
        width: 80px !important;
    }

    .nav_avatar {
        right: 18px !important;
        width: 30px !important;
    }

    /* Banner components */
    .banner_contents {
        margin-left: 20px !important;
        margin-right: 20px;
    }

    .banner_title {
        font-size: 2rem !important;
    }

    .banner_description {
        width: 100% !important;
    }

    /* Row components */
    .row > h2 {
        font-size: 18px;
    }

    .row_posterLarge {
        max-height: 220px !important;
    }

    iframe {
        height: 100%;
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}